/* Superior WP Testimonial Admin CSS File */

.spwptm-warp{
    background-color: #fff;
    padding: 25px 15px;
    overflow: hidden;
}
.spwptm-warp h2{
    font-weight: bolder;
}
.spwptm-main-body{
    width: 70%;
    float: left;
    border: 2px solid;
    padding: 10px;
    margin-right: 10px;
}
.spwptm-sidebar{
    width: 25%;
    float: left;
    border: 2px solid;
    padding: 10px;
    margin-left: 10px;
}
.lnclrX {
	clear: both;
	overflow: hidden;
	margin-bottom: 10px;
}
.dev-desig {
    font-size: 15px;
    font-weight: bold;
}
.dev-name {
    font-size: 16px;
    text-transform: uppercase;
}
.dev-intro {
    font-size: 15px;
}